*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

.container_1{
  width: 100%;
  min-height: 100vh;
  padding: 5%;
  background-image: linear-gradient(rgba(0,8,51,0.9),rgb(0,8,51,0.9)), url(background.jpeg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: aliceblue;

}
